.bodyContainer{
    margin: 0px;
    height: 90vh;
    width: 100%;
    flex-direction: row;
}

.Main_Container{
    width: 100%;   
}
@media only screen and (max-width: 600px){
    .bodyContainer{
        height: 100%;
        width: 560px;
        flex-direction: row;
    }
}
@media only screen and (max-width: 450px){
    .bodyContainer{
        height: 100%;
        width: 400px;
        flex-direction: row;
    }
}