.MainContent {
  display: flex;
  flex-direction: row;
}
.Sidebarinbody {
  width: 259px;
  height: 89vh;
  overflow-y: scroll;
  flex-shrink: 0;
  box-shadow: 3px 0px 12px #00000012;
}

.Bodyy {
  flex-grow: 1;
  height: 87vh;
  overflow-y: scroll;
}
.app {
  padding-right: 0px;
}
@media only screen and (max-width: 600px) {
  .Bodyy {
    margin-left: 10px;
    width: 600px;
    position: sticky;
    top: 100px;
    left: 260px;
    right: 0px;
  }
  .Sidebarinbody {
    display: none;
  }
}
