.header{
    
    height: 80px;
    border: 0.2px solid #f2f1ed;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    position:sticky;
    top: 0px;
    z-index: 99;
    margin-top: 0px;
    background-color: white;
    
}

.searchcontainer{
    position: relative;
    margin: 0px;
    height: 56px;
    width: 480px;
}
.Searchtext{
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgb(246, 247, 248);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 4px 0px inset;
}
.searchicon{
    position: absolute;
    top: 15px;
    right: 0px;
    cursor: pointer;
}
.toggle{
    margin-left: 30px;
    background-color: rgb(246, 247, 248);
    border-radius: 17px;
    height: 37px;
    width: 150px;
    display: flex;
    flex-direction: row;
}
.togglebutton{
    width: 75px;
    border-radius: 17px;
    border: 2px solid black;
    background-color: rgb(246, 247, 248);

}
.LoginbuttonHeader{
    margin-left: 400px;
    width: 100px;
    height: 56px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(246, 247, 248);
    cursor: pointer;

}
/* .navbar{
    

    
} */
.cart{
    width: 100px;
    height: 56px;
    border-radius: 20px;
    background-color: #C14086;
    border-style: none;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 5px 25px 5px;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 20px;
    cursor: pointer;
}
.carttext{
    color: white;
    font-size: 20px;
    margin-top: 8px;
}
.harburgerbutton{
    border-style: none;
    background-color: white;
    cursor: pointer;
}
@media only screen and (max-width: 600px){
    .header{
        box-sizing: border-box;
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    .projectlogo{
        width: 250px;
        margin-left: 20px;
    }
    .searchcontainer{
        display: none; 
    }
    .toggle{
        display: none;
    }
    .LoginbuttonHeader{
        width: 70px;
        height: 40px;
        margin-left: 20px;
    }
    .cart{
        width: 70px;
        height: 40px;
        margin-left: 20px;
    }
    .cart .carttext{
        font-size: 16px;
    }

}
@media only screen and (max-width: 450px){
    .header{
        box-sizing: border-box;
        width: 412px;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    .projectlogo{
        width: 150px;
        margin-left: 20px;
    }
    .searchcontainer{
        display: none; 
    }
    .toggle{
        display: none;
    }
    .LoginbuttonHeader{
        width: 50px;
        height: 40px;
        margin-left: 10px;
    }
    .cart{
        width: 70px;
        height: 40px;
        margin-left: 20px;
    }
    .cart .carttext{
        font-size: 16px;
    }
}